@font-face {
  font-family: 'Stretch Pro';
  src: url('/fonts/StretchPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

body {
  background-color: #001662;
}